MQTT_URL=mqtt://broker.hivemq.com:1883
TIME_ZONE=America/Bogota
TARGET_MAC=dd:88:00:00:3e:15
MIN_RSSI_DBM=-65
ROUTINE_CONFIRM_POLLS=3
DATABASE_URL=postgresql://usuario:password@host:5432/gatos_poc
DASHBOARD_PORT=3000
